.cpcache/
.clj-kondo/.cache/
.clj-kondo/imports
.lsp/.cache/
*.class
*.elc
/slides/
\?/
release-notes-v*.txt
/wip/
/.revu/

# jolt build outputs
jolt/.jolt/
jolt/knot
jolt/knot.build/

# bb uberjar build outputs
target/
